body { 
  margin: 0; 
  -webkit-box-sizing:border-box; 
} 
canvas {
  display: block;
}
div {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
	color:red;
}
